{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block style %}
    <link href="{% static 'styles/login_style.css'%}" rel="stylesheet" type="text/css" >
{% endblock %}



{% block content %}

    <div class="indentation">
        <h1>Войти</h1>
        <hr>

        {% if form.errors %}
            <p>{{ form.errors.error }}</p>
        {% endif %}

        <form action="{% url 'login' %}" method="post">
            {{ form }}
            {% csrf_token %}
            <button type="submit" class="">Войти</button>
        </form>

        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
            <button type="submit">Сменить пароль</button>
        </form>

    </div>

{% endblock %}