{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'styles/login_style.css'%}" rel="stylesheet" type="text/css" >
{% endblock %}



{% block content %}

    <div class="indentation">

        <h1>Восстановление пароля</h1>
        
        <p>Мы отправили вам по электронной почте инструкции по установке пароля, если существует учетная запись с указанным вами адресом электронной почты. Вы должны получить их в ближайшее время.</p>
        
        <p>Если вы не получили электронное письмо, убедитесь, что вы ввели адрес, под которым зарегистрировались, и проверьте папку со спамом.</p>

    </div>

{% endblock %} 