{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block style %}
    <link href="{% static 'styles/login_style.css'%}" rel="stylesheet" type="text/css" >
{% endblock %}



{% block content %}

    <div class="indentation">

        <h1>Восстановление пароля</h1>
        <hr>

        {% if validlink %}

        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <input type="submit" value="Изменить пароль">
        </form>
        
        {% else %}
        
        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</p>
        
        {% endif %}

    </div>

{% endblock %}