{% extends 'base.html' %}
{% load static %}

{% block style %}
    <link href="{% static 'styles/info_style.css'%}" rel="stylesheet" type="text/css" >
{% endblock %}

{% block content %}

    <div class="info">
        <article>
            <h2>Пользовательское соглашение</h2>
            <p>
                Регистрируясь и используя данный сайт, вы соглашаетесь соблюдать настоящие правила и подтверждаете, что вам исполнилось 18 лет. Администрация оставляет за собой право заблокировать аккаунт за нарушение условий проведения торгов или недобросовестное поведение.

            </p>
        </article>
    </div>
    
{% endblock %}